html {
  font-size: 62.5%;
}

body {
  background-color: rgb(184, 203, 245);
}

.container {
  width: 40rem;
  margin: 15rem auto;
  padding: 2rem;
  background-color: #ffff;
  border-radius: 2rem;
  filter: drop-shadow(0px 0px 10px #000000);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.2rem;
}

.btn {
  width: 17rem;
  height: 7rem;
  border: 0;
  border-radius: 2rem;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 800;
  color: rgb(40, 65, 104);
  filter: drop-shadow(0px 5px 3px #000000);
}

.clear {
  background-color: yellow;
}

.clear:hover {
  cursor: pointer;
  background-color: rgb(194, 191, 16);
}

.delete {
  background-color: red;
}

.delete:hover {
  cursor: pointer;
  background-color: rgb(182, 6, 6);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.number {
  height: 6rem;
  background-color: rgb(0, 153, 255);
}

.btn-number {
  width: 100%;
  padding: 2.2rem 0;
  text-align: center;
  font-size: 4rem;
  color: rgb(40, 65, 104);
  font-family: fantasy;
  background-color: #b9b9b9;
  background-size: 100%;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 5px 3px #000000);
}

.btn-number:hover {
  cursor: pointer;
  background-color: #aaaaaa;
}

.number {
  padding-right: 1rem;
}

.result {
  filter: drop-shadow(0px 0px 2px #000000);
}

.first {
  display: flex;
  justify-content: end;
  align-items: end;
  font-family: fantasy;
  font-size: 4rem;
}

.second {
  display: flex;
  justify-content: end;
  align-items: start;
  font-family: fantasy;
  font-size: 3rem;
}
